<div class="aboutme-section">
    <div class="aboutme-description">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum facilis blanditiis voluptatem esse et ut impedit repellat, accusantium corporis magni, sapiente perspiciatis neque illum delectus laudantium recusandae consectetur sunt architecto?</p>
        <div class="text">
            <img src="{{lampSrc}}" alt="" 
            (mouseenter)="toggleLamp()" (mouseleave)="toggleLamp()">
            <span>My name is Majda Halim, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptates doloremque. Nisi mollitia facilis, ipsum, expedita tempora, obcaecati recusandae iste voluptatibus dicta ipsa architecto a distinctio reprehenderit aut alias quo.</span>
        </div>
        <div class="text">
            <img src="{{puzzleSrc}}" alt=""
            (mouseenter)="togglePuzzle()" (mouseleave)="togglePuzzle()">
            <span>My name is Majda Halim, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptates doloremque. Nisi mollitia facilis, ipsum, expedita tempora, obcaecati recusandae iste voluptatibus dicta ipsa architecto a distinctio reprehenderit aut alias quo.</span>

        </div>
    </div>
    <div class="aboutme-picture">
        <hr class="line">
        <img src="assets/img/myPicture.png" alt="">
    </div>
</div>