<div class="introPage">

    <div class="intro">
      <div class="imgs">
        <img src="./assets/img/Purple shadow.png" alt="" class="shadow">
        <img src="./assets/img/myPicture.png" alt="" class="myPicture">
      </div>
  
      <div class="introTextAndBtn">
        <div class="introText">
            <span class="txt-vertikal"> I am</span>
          <div class="text-right">
            <p class="name">Majda Halim</p>
            <p class="profession">Frontend Developer</p>
          </div>
        </div>
  
        <button (click)="scrollToArea('contactMe')">let's talk</button>
      </div>
    </div>
    <div class="section-down">
      <div class="contact-detail">
        halim@gmail.com
      </div>
      <div class="scroll-txt">
        <span (click)="scrollToArea('aboutMe')">Scroll down</span>
      </div>
    </div>
    <img src="./assets/img/shape.png" alt="" class="shape">

  </div>