<div class="introPage">


    <div class="content">
      <div class="imgs">
        <img src="./assets/img/Purple shadow.png" alt="" class="shadow">
        <img src="./assets/img/myPicture.png" alt="" class="myPicture">
  
      </div>
  
      <div class="introTextAndBtn">
        <div class="introText">
          <div class="txt-vertikal">
            <span> I am</span>
          </div>
          <div class="text-right">
            <p class="name">Majda Halim</p>
            <p class="job">Frontend Developer</p>
          </div>
  
        </div>
  
        <button>let's talk</button>
      </div>
      <img src="./assets/img/shape.png" alt="" class="shape">
  
  
    </div>
    <div class="section-down">
      <div class="contact-detail">
        halim@gmail.com
      </div>
      <div class="scroll-txt">
        <span>Scroll down</span>
      </div>
    </div>
  </div>