.content {
    background-color: #141d2f;

    display: flex;
    justify-content: space-between;

}

.introPage {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.scroll-txt {
    span {
        color: #FFFFFF;

        transform: rotate(90deg);
    }
}

.imgs {
    position: relative;

}

.shadow {
    position: absolute;
    top: 135px;
}

.myPicture {
    position: absolute;
    height: 100vh;
    width: 432px;
}

.section-down {
    z-index: 4;
    color: white;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 38px;
}

.contact-detail {
    padding-left: 87px;
}

.scroll-txt {
    transform: rotate(90deg);
    padding-right: 87px;
}

.text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.introText {
    .name {
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: -6px 0;
        font-size: clamp(25px, 3.7vw, 95px);
        font-weight: 700;
        margin: 0;
        color: white;
    }

    .profession {
        flex: none;
        order: 1;
        font-size: clamp(25px, 3.7vw, 95px);
        color: #9747ff;
        text-align: left;
        margin: 0;
        font-weight: 400;
        line-height: 120%;
        flex: none;
        flex-grow: 0;
    }


    display: flex;
}

.introTextAndBtn {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 70px;

    button {
        padding: 15px 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        width: 165px;
        height: 58px;
        background-color: #FA7902;
        border-radius: 10px;
        color: #FFFFFF;

    }
}


.shape {
    z-index: 2;
    position: absolute;
    top: calc(100vh - 515px);
    width: 100vw;
}

.txt-vertikal {
    font-weight: 400;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    text-align: center;
    font-size: clamp(12px, 4vw, 60px);
}